$pink: #FFB7C5
$light-grey: #eee
$white: #fff
$dark-grey: #4d4d4d
$black: #000

@font-face
  font-family: "Freebooter"
  src: url("../fonts/FREEBSC_.ttf") format('truetype')
body
  font-family: Verdana
  background-color: $light-grey
  font-size: 12px

.nav-container
  background-color: $white

.brand
  background-color: $pink
  font-family: "Freebooter",sans-serif
  font-size: 3.5em

.container
  .navbar
    margin: 0
    box-shadow: none

.nav-item
  border-right: solid 0.1em $light-grey

.nav-item:first-of-type
  border-left:  solid 0.1em $light-grey

.main-nav

  padding: 0


.nav-content
  float: right
  overflow: visible

.contact-strip
  .container
    padding: 0
  background-color: $pink
  font-size: 1.2em
  padding: 1em 0 1em 0
  .media-buttons
    font-size: 1.5em
    .fa
      float: right
      padding-left: 1em


.carousel-inner > .item > img
  margin: 0 auto

.showcase-strip
  .container
    background-color: $white
    padding: 4em 0 4em 0

.showcase-item
  .img-responsive
    margin: 0 auto 0 auto
  .header
    font-size: 1.3em
    margin: 0.7em 0 0.7em 0
  .separator
    border-top: 0.2em solid $light-grey
  .showcase-content
    margin: 0.7em 0 0.7em 0
  .plus-div
    .fa
      font-size: 1.5em
      float: right
      margin-right: 0.5em

.footer
  background-color: $dark-grey
  color: $white
  padding: 1.5em 0 1.5em 0
