doctype html
html(lang="").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title
      | On Danse
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    include ../jade_partials/styles.jade
    if development
      script(src="http://localhost:35729/livereload.js")
  body
    .nav-container
      .container
        nav.navbar.navbar-default.text-uppercase
          .main-nav
            .navbar-header.text-capitalize
              a(href="#").navbar-brand.brand On Danse
            .nav.navbar-nav.nav-content
              li.nav-item
                a(href="#") Cursos
              li.nav-item
                a(href="#") Ubicacion
              li.nav-item
                a(href="#") Maestros
              li.nav-item
                a(href="#") Acerca de Nosotros
    .container
      .img-content
        div(data-ride="carousel")#mainCarousel.carousel.slide
          ol.carousel-indicators
            li(data-target="#myCarousel" data-slide-to="0" class="active")
            li(data-target="#myCarousel" data-slide-to="1")
            li(data-target="#myCarousel" data-slide-to="2")
            li(data-target="#myCarousel" data-slide-to="3")
          div(role="listbox").carousel-inner
            .item.active
              img(src="http://placehold.it/800x600" alt="Chania" width="800" height="600")
            .item
              img(src="http://placehold.it/800x600" alt="Chania" width="800" height="600")
            .item
              img(src="http://placehold.it/800x600" alt="Chania" width="800" height="600")
            .item
              img(src="http://placehold.it/800x600" alt="Chania" width="800" height="600")
          a(href="#mainCarousel" role="button" data-slide="prev").left.carousel-control
            span(aria-hidden="true").glyphicon.glyphicon-chevron-left
            span.sr-only
              | Previous
          a(href="#mainCarousel" role="button" data-slide="next").right.carousel-control
            span(aria-hidden="true").glyphicon.glyphicon-chevron-right
            span.sr-only
              | Next
    .contact-strip
      .container
        .col-sm-8
          span.text
            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        .col-sm-4.media-buttons
          span.fa.fa-facebook-square
          span.fa.fa-twitter-square
          span.fa.fa-youtube-play
    .showcase-strip
      .container
        .col-md-3.col-sm-6
          .showcase-item
            img(src="http://placehold.it/300x180" alt="Chania").img-responsive
            h2.header
              | Lorem ipsum
            .separator
            .showcase-content
              | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            .plus-div
              span.fa.fa-plus-square
        .col-md-3.col-sm-6
          .showcase-item
            img(src="http://placehold.it/300x180" alt="Chania").img-responsive
            h2.header
              | Lorem ipsum
            .separator
            .showcase-content
              | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            .plus-div
              span.fa.fa-plus-square
        .col-md-3.col-sm-6
          .showcase-item
            img(src="http://placehold.it/300x180" alt="Chania").img-responsive
            h2.header
              | Lorem ipsum
            .separator
            .showcase-content
              | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            .plus-div
              span.fa.fa-plus-square
        .col-md-3.col-sm-6
          .showcase-item
            img(src="http://placehold.it/300x180" alt="Chania").img-responsive
            h2.header
              | Lorem ipsum
            .separator
            .showcase-content
              | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            .plus-div
              span.fa.fa-plus-square
    .footer
      .container
        .col-sm-6
          span.legal
            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
        .col-sm-6
          span.contact
            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut

    include ../jade_partials/scripts.jade
