doctype html 
html
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title
    | On Danse
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="apple-touch-icon" href="apple-touch-icon.png")
  include ../jade_partials/styles.jade
  include ../jade_partials/scripts.jade
body
  .container
    button(onclick ="click()")
      |button
    
