if development
  script(type="text/javascript",src="scripts/libs/jquery.js")
  script(type="text/javascript",src="scripts/libs/bootstrap.js")
  script(type="text/javascript",src="js/nuevo.js")  
else
  script(type="text/javascript",src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(type="text/javascript",src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
